*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    
        font-family: "Poppins", sans-serif;

    
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height:60px;
    background-color: #1da1f2;
    color: white;
}
.selDiv{
    display: flex;
    gap:5px;
    align-items: center;
}

#profile {
    position: relative;
    width: 100%;
    height: 200px;
    
}
#user-select{
 border:none;
 outline:none;
 width:200px;
 border-radius:5px;
 padding:10px;
}

#cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#profile-image {
    position: absolute;
    bottom: -50px;
    left: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid white;
}
.details{
    padding-left: 30px;
    display:flex;
    flex-direction: column;
    gap:15px;

}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 25%;
}

#posts, #comments {
    width: 45%;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
}

#username{
    margin-top: 5%;
}
#user-details{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}
.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.card h3 {
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 20px;
}

.card i {
    margin-right: 10px;
}
.name-div{
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
}
